*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background-color: var(--background);*/
}
:root{
    --purple:#0B3C59;
    --green:#2ABE8A;
    --ornage:#FF8B00  ;  
    --red:#FF2929 ;
    --background:#F6FCFA;
    --innerButtom:#144f72;
}
body{
    background-color: var(--background);
}
/*navigation*/
nav{
    display: flex;
    justify-content:space-around;
   /* border: 1px solid red;*/
    align-items: center;
    padding: 20px 0px;
    background: var(--background);
}
nav .left-nav-items{
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.07500000298023224px;
text-align: left;
}
nav .center-nav-items ul{
    display: flex;   
}
nav .center-nav-items ul li{
    list-style: none;
    padding-left: 1.5rem; 
}
nav .center-nav-items ul li a{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px; 
}
nav .right-nav-items button{
    padding:3px 8px;
    margin-left: 20px;
    font-size:14px;
    font-weight: 400px;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    width: 80px;
    cursor: pointer;
}
nav .right-nav-items .signUp{
    background-color: var(--green);
}

/*hero*/
.hero{
    display: flex;
   /* border: 1px solid rgb(247, 3, 255);*/
    justify-content: space-evenly;
    background: var(--background);
    
}
.hero .hero-left-section{
    /*border: 1px solid rgb(219, 0, 121);*/
    width: 40%; 
    padding: 126px 0px;
}
.hero .hero-left-section h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    font-weight:600;
    line-height:75px;
    margin-bottom: 12px;
}
.hero .hero-left-section h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 35px;
}
.hero .hero-left-section button{
    padding:3px 8px;
    font-size:14px;
    font-weight: 400px;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    width: 255px;
    height: 56px;
    background-color: var(--green);
    color: white;
    cursor: pointer;
}
.hero .hero-right-section{
   /* border: 1px solid gold;*/
    box-sizing: border-box;
    padding: 65px 45px;
    
}
.hero .hero-right-section .shape1{
    position: relative;
    left: 16px;
    width: 374px;
    height: 480px;
    border:3px solid var(--ornage);
    border-radius: 320px 320px 0px 0px; 
}
.hero .hero-right-section .shape2{
    position: absolute;
    top: 138px;
    width: 374px;
    height: 480px;
    background: var(--green);
    border:1px solid var(--green);
    border-radius: 320px 320px 0px 0px;
}
.hero .hero-right-section .call1{
    position: absolute;
    top: 400px;
    left: 750px;
    width: 208px;
    height: 21px; 
}
.hero .hero-right-section .call2{
    position: absolute;
    width: 208px;
    height: 21px; 
    top: 520px;
    right: 100px;   
}

/*Brandings*/
.brandings{
  
}
.brandings img{
width: 95%;
margin: 0 30px;
}



/*middle hero section 1*/
.middle-hero-section{
   /* border: 1px solid red;*/
    display: flex;
    justify-content: space-evenly;
    margin: 150px 0;


}
.middle-hero-left{
    /*border: 1px solid rgb(0, 0, 0);*/
}
.middle-hero-left .shape1{
    /*border: 1px solid red;*/
    position: relative;
    left: -16px;
    width: 374px;
    height: 480px;
    border:3px solid var(--green);
    border-radius: 320px 320px 0px 0px;
}
.middle-hero-left .shape2{
    /*border: 1px solid red;*/
    position: absolute;
    top: 970px;
    width: 374px;
    height: 480px;
    background: var(--ornage);
    border:1px solid var(--ornage);
    border-radius: 320px 320px 0px 0px;
}

.additional-feature{
   margin-top: 35px;
}
.additional-feature-one{
    margin-bottom: 25px;
}
.middle-hero-right{
   /* border: 1px solid red;*/
    width: 550px;
}
.middle-hero-right h2{
    font-weight: 600px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-family: Arial, Helvetica, sans-serif;
}
.middle-hero-right p{
    font-weight: 400px;
    font-size: 20px;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

 .additional-feature-one h4,.additional-feature-two h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.additional-feature-one p,.additional-feature-two p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding-left: 35px;
}
.inner-content{
    display: flex;
    gap: 10px;
}
.middle-hero-right .explore-more{
background-color: var(--green);
border: none;
padding: 15px 10px;
color: white;
width: 155px;
border-radius: 4px;
margin-top: 25px;
}

/*middle hero section 2*/
.middle-hero-section-two{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;

}
.middle-hero-section-two-left{
    width: 500px;
    /*border: 1px solid red;*/
}
.middle-hero-section-two-additional-features-first{
    display: flex;
    margin-top: 40px;
    gap: 25px;
    margin-bottom: 25px;
}
.middle-hero-section-two-additional-features-second{
    display: flex;
    gap: 25px;
}
.middle-hero-section-two-left h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin-bottom: 19px;
}
.middle-hero-section-two-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 36px;
}
.additional-features-first-section h4,.additional-features-second-section h4{
    font-weight: 600px;
    font-size: 20px;
    line-height: 28px;
}
.additional-feature-sub-first h4,.additional-feature-sub-second h4{
    font-weight: 600px;
    font-size: 20px;
    line-height: 28px;
}
.additional-feature-sub-first p,.additional-feature-sub-second p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 30px;  
}
.additional-features-first-section p,.additional-features-second-section p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 33px;
}
.additional-icon{
    display: flex;
    gap: 10px;
}
.middle-hero-section-two-right .shape1{
    /*border: 1px solid red;*/
    position: relative;
    left: -16px;
    width: 374px;
    height: 480px;
    border:3px solid var(--ornage);
    border-radius: 320px 320px 0px 0px;
 }
 .middle-hero-section-two-right .shape2{
  /*border: 1px solid red;*/
  position: absolute;
  top: 1600px;
  width: 374px;
  height: 480px;
  background: var(--green);
  border:1px solid var(--green);
  border-radius: 320px 320px 0px 0px;
 }
 .explore-more-two{
    background-color: var(--green);
border: none;
padding: 15px 10px;
color: white;
width: 155px;
border-radius: 4px;
margin-top: 25px;
margin-top: 55px;
 }
/*Grid section*/
.consulting-specilist{
display: flex;
justify-content: center;


}
.consulting-specilist-heading h4{
    text-align: center;
    margin-bottom: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
    font-size: 40px;
    letter-spacing: 0.2px;
}
.consulting-specilist-heading-grid-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
    gap: 20px;
   
}
.consulting-specilist-heading-grid-2{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}
.gridChild{
   width: 358.97px;
   height: 441px;
   background-color: #ffffff;
   border-radius: 8px;
   /*border: 1px solid red;*/
   
  /* border: 1px solid red;*/
  
}
.grid-content{
   padding-left: 15px;
}
.gridChild .grid-content h4{
    font-weight: 600px;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 12px;
}
.gridChild .grid-content p{
    width: 305px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 16px;
    /*border: 1px solid red;*/
}
.consulting_more_btn{
   display: flex;
   justify-content: center;
   margin-top: 65px;

}
.consulting_more_buttn{
background-color: var(--green);
border: none;
padding: 15px 10px;
color: white;
width: 155px;
border-radius: 8px;
/*border: 1px solid red;*/
}

/*quote section*/
.quote{
    display: flex;
    justify-content: space-evenly;
    margin: 45px 0;
    background-color: var(--background);
}

.quote .qoute-left-section .shape1{
    border: 1px solid red;
    position: relative;
    left: 16px;
    width: 374px;
    height: 480px;
    border:3px solid var(--green);
    border-radius: 320px 320px 0px 0px;
}
.quote .qoute-left-section .shape2{
    /*border: 1px solid red;*/
    position: absolute;
    top: 3430px;
    width: 374px;
    height: 480px;
    background: var(--ornage);
    border:1px solid var(--ornage);
    border-radius: 320px 320px 0px 0px;
}
.quote .qoute-right-section p{
   /* border: 1px solid red;*/
    height: 144px;
    width: 649px;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.17px;
    border-radius: nullpx;
    margin-top: 200px;

}
.qoute-right-section-botton{
    display: flex;
    justify-content:space-between ; 
    margin-top: 60px;  
}
.qoute-right-section-botton-left{
    margin-top: 10px;
}
.qoute-right-section-botton-right{
    margin-top: 10px;
   
}
.qoute-right-section-botton-right button{
    border-radius: 55%;
    padding: 14px;
    width: 42px;
    border: none;
}
.qoute-right-section-botton-left span{
    line-height: 1px;
}
/*footer*/
footer{
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 2px solid red;*/
    padding: 90px 0px;
    background: var(--purple);
}
footer li{
    list-style: none;

}
footer li a{
    text-decoration: none;
    color: rgba(253, 253, 253, 0.473);
    font-size: 14px;
}
footer h3{
font-family: Nunito;
font-size: 24px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0.07500000298023224px;
text-align: left;
color: white;
padding-bottom: 20px;
}
footer p{
    color: rgba(255, 255, 255, 0.534);
    padding-bottom: 20px;
}
footer .social-links{
    display: flex;
    gap: 27px;
    margin: 10px 0px;
   
}
footer .social-links li {
    box-sizing: content-box;
    height: 18px;
    width: 14px;
    border-radius: nullpx;
}
footer h4{
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    padding-bottom: 21px;
}

/*subscribe Us*/
form{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
form input[type="email"]{
    padding:5px 8px;
    border: none;
    outline: none;
    background-color: var(--innerButtom);
    border-radius: 8px;
}
form button{
    padding:5px 8px;
    background-color: var(--green);
    border: none;
    outline: none;
    border-radius: 8px;
}